{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_info'|trans }}
{% endblock %}

{% block body %}
    <h1 id="mainh1">O serwisie</h1>

    <p>Autorką niniejszego serwisu jest <b>Joanna Pajor</b>.
    </p>
    <p>
        Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem <b>prof. ASP Grzegorza Bilińskiego</b> na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
    </p>

{% endblock %}